<div class="row">
   <div class="col-md-12">
      <section class="tile">
         <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Add New Job</strong></h1>
         </div>
         <div class="tile-body">
            <form class="form-horizontal" role="form">
               <div class="form-group">
                  <div class="input-wapper">
                     <label for="input01" class="col-sm-2 control-label">Customer name</label>
                     <div class="col-sm-4">
                        <input type="text" class="form-control" id="input01">
                     </div>
                  </div>
                  <div class="input-wapper col-sm-offset-8">
                     <label for="input01" class="col-sm-6 control-label">Mobile no</label>
                     <div class="col-sm-6">
                        <input type="text" class="form-control" id="input01">
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="add-row-wapper">
                     <div class="input-wapper">
                        <label for="message" class="col-sm-2 control-label">Job</label>
                        <div class="col-sm-7">
                           <input type="text" class="form-control" id="jobTxt" placeholder="Write something about job...">
                        </div>
                     </div>
                     <div class="input-wapper">
                        <label for="quantity" class="col-sm-1 control-label">Quantity</label>
                        <div class="col-sm-1">
                           <input type="text" class="form-control" id="quantity">
                        </div>
                        <div class="col-sm-1">
                           <span class="input-group-btn"><button class="btn bootstrap-touchspin-up btn-success add-row" title="Add job" type="button">+</button></span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-wapper col-sm-offset-8">
                     <label for="input02" class="col-sm-6 control-label">Total amount</label>
                     <div class="col-sm-6">
                        <input type="text" class="form-control" id="input02">
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-wapper col-sm-offset-8">
                     <label for="input02" class="col-sm-6 control-label">Advance amount</label>
                     <div class="col-sm-6">
                        <input type="text" class="form-control" id="input02">
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <div class="input-wapper col-sm-offset-8">
                     <label for="input02" class="col-sm-6 control-label">Balance amount</label>
                     <div class="col-sm-6">
                        <input type="text" class="form-control" id="input02">
                     </div>
                  </div>
               </div>
               <hr class="line-dashed line-full">
               <div class="form-group">
                  <div class="col-sm-4">
                     <button type="reset" class="btn btn-lightred">Cancel</button>
                     <button type="submit" class="btn btn-default">Save changes</button>
                  </div>
               </div>
            </form>
         </div>
      </section>
   </div>
</div>