<div class="row"> 
    <div class="col-md-12"> 
        <section class="tile" fullscreen="isFullscreen01"> 
            <div class="tile-header dvd dvd-btm"> 
                <h1 class="custom-font"><strong>List</strong></h1> 
            </div> 
            <div class="tile-body"> 
                <div class="table-responsive">
                    <table class="table table-custom">
                        <thead>
                            <tr>
                                 <th title="" class="header" width="10%">Customer Name</th>
                                 <th title="" class="header" width="10%">Mobile No</th>
                                 <th title="" class="header" width="10%">Items</th>
                                 <th title="" class="header" width="10%">Balance Amt</th>
                                 <th title="" class="header" width="10%">Status</th>
                             </tr>
                        </thead> 
                        <tbody>
                            <tr> 
                                <td>Arun Kumar</td>
                                <td>xxxxxxxxxx</td>
                                <td class="t-tooltip">
                                    <span class="t-tool-txt">T-Shirt and p ...</span>
                                    <div class="t-tooltip-wapper">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                    </div>
                                </td>
                                <td>600</td>
                                <td><span class="label bg-success">Deliver</span></td>
                            </tr>
                            <tr> 
                                <td>Arun Kumar</td>
                                <td>xxxxxxxxxx</td>
                                <td class="t-tooltip">
                                <span class="t-tool-txt">T-Shirt ...</span>
                                <span class="t-tooltip-wapper">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                </span>
                                </td>
                                <td>600</td>
                                <td><span class="label bg-success">Deliver</span></td>
                            </tr>
                            <tr> 
                                <td>Arun Kumar</td>
                                <td>xxxxxxxxxx</td>
                                <td class="t-tooltip">
                                <span class="t-tool-txt">T-Shirt T-Shirt T-Shirt T-Shirt T-Shirt T-Shirt T-Shirt T-Shirt T-Shirt ...</span>
                                <span class="t-tooltip-wapper">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                                </span>
                                </td>
                                <td>600</td>
                                <td><span class="label bg-success">Deliver</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default active">10</button>
                    <button type="button" class="btn btn-default">25</button>
                    <button type="button" class="btn btn-default">50</button>
                    <button type="button" class="btn btn-default">100</button>
                </div>
            </div>
        </section>
    </div>
</div>

