<div id="controls">
   <aside id="sidebar">
      <div id="sidebar-wrap">
         <div class="panel-group slim-scroll" role="tablist">
            <div class="panel panel-default">
               <div class="panel-heading" role="tab">
                  <h4 class="panel-title">
                     <a data-toggle="collapse" href="#sidebarNav">
                     Navigation <i class="fa fa-angle-up"></i>
                     </a>
                  </h4>
               </div>
               <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
                  <div class="panel-body">
                     <ul id="navigation">
                        <li class="active"><a href="index.html"><i class=" icon-speedometer"></i> <span>Dashboard</span></a></li>
                        <li>
                           <a href="#"><i class="icon-pencil"></i> <span>Jobs</span></a>
                           <ul>
                              <li><a href="add-job.html"><i class="fa fa-caret-right"></i>Add New Job</a></li>
                           </ul>
                        </li>
                        <li><a href="index.html"><i class="icon-wrench"></i> <span>Tools</span></a></li>
                        <li><a href="index.html"><i class=" icon-settings"></i> <span>Settings</span></a></li>
                        <li><a href="index.html"><i class="icon-user"></i> <span>Admin</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </aside>
</div>